body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#header { 
    background-color:rgb(142, 216, 128);
}
#navbar { 
    background-color:rgb(234, 247, 220);
    background-position: center;
    position: relative;
}
#article { 
    background-color: white;
}
#aside { 
    background-color:rgb(234, 247, 220);
}
#footer { 
    background-color:rgb(142, 216, 128);
}

#contacts { 
    background-color: rgb(108, 69, 199);
    color: white;
}
#submit {
    background-color: gray;
    color: white;
    border: none;
    display: block;
}